.active {
  background-color: #2d392d;
}

.city {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.delete {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: 10%;
  font-size: 2rem;
  color: white;
  padding: .5rem;
}
