.chart {
  flex-basis: 60%;
}

button {
  width: 7rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #700061;
  color: white;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  cursor: pointer;
}
button:hover {
  transform: translateY(-5px) scale(1.05);
}
